force-app/main/default/flows/Handle_Smartfridge_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_owner2</name>
        <label>Notify owner</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <actionName>SmartfridgeActions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>Reload_Case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_variables</name>
        <label>Assign variables</label>
        <locationX>336</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>deviceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.deviceId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>door</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.door__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>humidity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.humidity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temperature</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.temperature__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Smartfridge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_values</name>
        <label>Change values on Smartfridge</label>
        <locationX>336</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Door__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>door</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Humidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>humidity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>temperature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_open_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_checkbox</name>
        <label>Clear checkbox</label>
        <locationX>490</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Case_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Smartfridge_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_open_time</name>
        <label>Save open time</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Opened_for</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Smartfridge.Door_Opened_For__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Smartfridge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_checkbox</name>
        <label>Set checkbox</label>
        <locationX>50</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Case_created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Smartfridge_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_timestamp</name>
        <label>Set timestamp</label>
        <locationX>204</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>Find_Smartfridge.Door_Opened_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_notified</name>
        <label>Already notified</label>
        <locationX>182</locationX>
        <locationY>1586</locationY>
        <defaultConnector>
            <targetReference>Update_Smartfridge_again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case already created</defaultConnectorLabel>
        <rules>
            <name>Case_needs_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Smartfridge.Case_created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case_regarding_the_door</targetReference>
            </connector>
            <label>Case needs to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_we_should_create_an_Event</name>
        <label>Check if we should create an Event</label>
        <locationX>336</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Create_case_if_door_left_open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not checked</defaultConnectorLabel>
        <rules>
            <name>Create_Events_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Smartfridge.Create_Event_Records__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a</targetReference>
            </connector>
            <label>Create Events is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_case_if_door_left_open</name>
        <label>Create case if door left open</label>
        <locationX>336</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Clear_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No danger</defaultConnectorLabel>
        <rules>
            <name>Door_has_been_open_for_a_while</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opened_for</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_notified</targetReference>
            </connector>
            <label>Door has been open for a while</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_timestamp_if_door_has_been_opened</name>
        <label>Set timestamp if door has been opened</label>
        <locationX>336</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Change_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change or closed</defaultConnectorLabel>
        <rules>
            <name>Door_was_opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Smartfridge.Door__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>door</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_timestamp</targetReference>
            </connector>
            <label>Door was opened</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Handle Smartfridge Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Handle Smartfridge Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a</name>
        <label>Create a SmartfridgeEvent</label>
        <locationX>204</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Create_case_if_door_left_open</targetReference>
        </connector>
        <inputAssignments>
            <field>Door__c</field>
            <value>
                <elementReference>door</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Humidity__c</field>
            <value>
                <elementReference>humidity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smartfridge__c</field>
            <value>
                <elementReference>Find_Smartfridge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature__c</field>
            <value>
                <elementReference>temperature</elementReference>
            </value>
        </inputAssignments>
        <object>SmartfridgeEvent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Case_regarding_the_door</name>
        <label>Create a Case regarding the door</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignRecordIdToReference>TheCase.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Reload_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please check the fridge door</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>IoT Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Smartfridge.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Smartfridge__c</field>
            <value>
                <elementReference>Find_Smartfridge.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>The fridge door seems to have been left open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Smartfridge</name>
        <label>Find Smartfridge</label>
        <locationX>336</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_timestamp_if_door_has_been_opened</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Imp_Device_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>deviceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Smartfridge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reload_Case</name>
        <label>Reload Case</label>
        <locationX>50</locationX>
        <locationY>1826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_owner2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TheCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Smartfridge</name>
        <label>Update Smartfridge</label>
        <locationX>336</locationX>
        <locationY>1010</locationY>
        <connector>
            <targetReference>Check_if_we_should_create_an_Event</targetReference>
        </connector>
        <inputReference>Find_Smartfridge</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Smartfridge_again</name>
        <label>Update Smartfridge again</label>
        <locationX>336</locationX>
        <locationY>2378</locationY>
        <inputReference>Find_Smartfridge</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_variables</targetReference>
        </connector>
        <object>Smart_Fridge_Reading__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>deviceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>door</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>humidity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Opened_for</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>temperature</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TheCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
